<!DOCTYPE html>
<html lang = 'eng'>

<head>
    <meta charset = 'UTF-8'>
    <title>Works Cited</title>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">

   
    

  </head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">DFW Housing Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="map.html">Census Map</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="prediction.html">Prediction Model</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="writeup.html">Written Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">About Us</a>
                  </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data info</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="sourcedata.html">Source Data</a>
                  <a class="dropdown-item" href="workscited.html">Works Cited</a>
                </div>
              </li>

            </ul>
          </div>
          
        </div>
      </nav>
      <br>
      <br>

</body>
<div class="container-fluid">
    <div class="card-deck mb-4">
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Our Data Set</h3>
      <div class="card">
        <img class="card-img-top" width="100" height="250" src="static/pictures/NTREIS-logo.jpg" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body">
        <p class="lead">Follow the below link to see our dataset</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://drive.google.com/file/d/11WhlUs4sUefvPRowhyHpZeieHWnTtt9j/view?usp=sharing">Link to CSV</a>
        <br>
        <a class="lead card-link" href="https://ntreis.net/">Link to data source</a>
      </div>
    </div>
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Graphs</h3>
      <div class="card">
        <img class="card-img-top" width="100" height="250"  src="static/pictures/Tableau.png" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body">
        <p class="lead">Follow links below for our inspiration on types of graphs</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://www.tableau.com/data-insights/reference-library/visual-analytics/charts">Link to Tableau visualizations ideas</a>
        <br>
        <a class="lead card-link" href="https://help.tableau.com/current/pro/desktop/en-us/maps_howto_pointdistribution.htm">Link to Tableau map</a>
      </div>
    </div>
    <div class="card mb-3 bg-light">
      <h3 class="card-title">Previous Projects Used</h3>
      <div class="card">
        <img class="card-img-top" width="100" height="250" src="static/pictures/project.png" alt='Card image cap'>
      </div>
      <hr>
      <div class="card-body">
        <p class="lead">Follow links below for previous projects' inspiration</p>
      </div>
      <div class="card-footer">
        <a class="lead card-link" href="https://public.tableau.com/app/profile/us.census.bureau/viz/2020CensusPopulationandHousingMap/AllStates">Project 1</a>
        <br>
        <a class="lead card-link" href="https://public.tableau.com/app/profile/realestate.com.au/viz/DataStory2022_05-DOM-Buy-Mobile/DOM-Buy-Mobile">Project 2</a>
      </div>
    </div>
    
        </div>
      </div>

<div class="container">
  <div class="row">
</div>

</html>