body{margin:0}
iframe {
  width: 100%;
  height: 100vh;
}

h2{
  color:#2F71B1
}

h3{
  color:#2F71B1
}

h5{
  color:#8C3B2D;
  font-weight: bold !important;
}

h1{
  color:#8C3B2D;
}
.padding {
    width:80%;
    height:40%;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
  }
  .Legend div{
    margin-left:15px;
    width: 12px;
    height: 12px;
    border:1px solid #808080;
}
.ie7 .Legend div{
    display:inline;
    zoom:1;
}









